:root{
    --blue-color:  #6B60E6; 
    --yellow-color: hsl(45, 100%, 51%);
    --gray-color:#EFEEEF;
  }
  body{
    font-family: "roboto" sans-serif;
    
    
  }

  /*hero*/
  #hero {
    width: 100%;
  height: 90vh;
    background:  url("../img/homeBackgrong.jpg") top center;
 
    background-size: cover;
    position: relative;
    padding: 0;
  
  }
  
  #hero1 h1 {
  
    padding-top: 40px;
    font-family: 'roboto';
    color: hsl(0, 0%, 100%);
    margin: 0 0px 5px 0;
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    letter-spacing: 0em;
  }
  #hero h2 {
   
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'roboto';
    Line-height :45px;
  }
  #hero1 .hero1-img {
    text-align: right;
  }
  #hero1 .hero1-img img {
    width: 24.5pc;
  }
  /*end hero*/

  /* start Navbar */

.main-btn1 {
    background-color: white;
    color: #D9368B;
    font-size: small;
    width: 80px;
    height: 35px;
    padding-top: -50px;
    
  }
  .main-btn1:hover{
    background-color:#e47db2;
    color: #EFEEEF;
  }
 
 .navbar{
    background-color: hsl(300, 3%, 94%, 0.3);
  

 }
   

  .navbar .navbar-nav .nav-link{
    color:white;
  }
  
 
  
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover{
    color: var(--yellow-color);
  }
  
  
  .navbar .navbar-toggler{
    color:white;
    font-size: 25px;
    border-color: white;
  
  }
  .navbar .navbar-toggler:focus{
    box-shadow: none;
  }
  /* end Navbar */

  /*search box*/




#search {
	font-family: 'roboto', sans-serif;
}


.search-form {
	background: #fff;
	border-radius: 2px;
 height: 130px;
 
  box-shadow:0.625erm .937erm rgba(105, 105, 105, 0.001); ;
position: relative;
  padding: 0;
 
  
}


.search-form>form .row.no-margin {
	margin-right: -30px;
 
}

.search-form>form .row.no-margin>[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.search-form .form-group {
	position: relative;
	padding: 25px;
 
	margin-bottom: 30px;
  margin-left: 30px;
}

.search-form .form-group:after {
	content: '';

	position: absolute;
	top: 25px;
	bottom: 0;
	right: 0px;
	width: 2px;
	height: 75px;
}


.search-form .form-control::-webkit-input-placeholder {
	color: #818390;
  
}

.search-form .form-control:-ms-input-placeholder {
	color: #818390;
}

.search-form .form-control::placeholder {
	color: #818390;
}

.search-form input[type="date"].form-control:invalid {
	color: #818390;
}

.search-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 30px;
	width: 36px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: var(--yellow-color);
  
  
	font-size: 30px;

}.booking-form .form-control {
	background-color: transparent;
	border-radius: 0px;
	height: 50px;

	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 12px;
	color: var(--yellow-color);
	font-weight: 400;

}

.main-btn6 {
   
  color: #6B60E6;

  border-color: #6B60E6;
  font-size: small;

 margin-top: 13px;
  padding: 6px 30px;
  
}
.main-btn6:hover{
    background-color:#6B60E6;
    color: #EFEEEF;
  }

.search-form .form-label {
	color: #6C6C6C;
	display: block;
	font-weight: 400;
	height: 30px;
	line-height: 25px;
	font-size: 14px;
}

.search-form .form-btn {
	padding:55px;
  margin-right: 10px;
}

.search-form .submit-btn {

	background: var(--yellow-color);
	border: none;
	text-transform: capitalize;
	display: block;
	border-radius: 2px;
  line-height: 25px;
	width: 100%;
	height: 41px;
	font-size: 16px;
	font-weight: 400;
  background-position: 5;
  margin-top: 3px;
	color: #fff;
}

*/


/*Why Book On Catch Space?*/
.featured-services0 h2{
  position: absolute;
width: 393px;
height: 48px;
left: 111px;
top: 940px;

font-family: 'roboto';
font-style: normal;
font-weight:900;
font-size: 44px;
line-height: 48px;
/* identical to box height, or 109% */

letter-spacing: -0.022em;

color: #6B60E6;

margin-top: -220px;
}
.featured-services .icon-box {

  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  z-index: 1;
}
.featured-services .icon-boxs {

  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #6B60E6;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  z-index: 1;
}
.featured-services {

  margin-top: 250px;
}
.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
.featured-services .icon-box:hover::before {
  background: #6B60E6;
  top: 0;
  border-radius: 0px;
}
.featured-services {

  margin-top: 250px;
}
.featured-services .icon-boxs::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

 
.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.featured-services .title a {
  color: #111;
}
.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}


.services icon-box{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#f5f5f5;
   
}


.services icon-box{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#f5f5f5;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.services icon-box .icon--box{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#6B60E6;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}
  
.services .icon-box h4 {
  font-weight: 600;
  line-height: 0.1em;
  margin: 15px 0 15px 0;
  font-size: 22px;
   
}
.services .icon-box h4 a {
  color: #FFC107;
  transition: ease-in-out 0.3s;
}
 


.about-border {
  display: block;
  width: 35px;
  margin-bottom: 5px;
  height: 2px;
  background:#FFC107;
  margin-right: 150px;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-top:30px;
  font-family: roboto;
  font-weight: 500;
}
.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 #ffffff;
}
 
 
.services icon-boxs{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#f5f5f5;
   
}


.services icon-boxs{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#f5f5f5;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.services icon-boxs .icon--box{
  text-align: left;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  
  background:#6B60E6;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.services .icon-boxs .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}
  
.services .icon-boxs h4 {
  font-weight: 600;
  line-height: 0.1em;
  margin: 15px 0 15px 0;
  font-size: 22px;
   
}
.services .icon-boxs h4 a {
  color: #FFFF;
  transition: ease-in-out 0.3s;
}
 
.services  .icon-boxs h4 a {
  color: #ffff;
  transition: ease-in-out 0.3s;
}

.about-border {
  display: block;
  width: 35px;
  margin-bottom: 5px;
  height: 2px;
  background:#FFC107;
  margin-right: 150px;
}
.services .icon-boxs p {
  line-height: 24px;
  font-size: 14px;
  margin-top:30px;
  font-family: roboto;
  color: #f5f5f5;
  font-weight: 500;
}
.services .icon-boxs:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 #ffffff;
}
#hero3 {
  position: relative;
 
  display: flex;
  background-color: #6B60E6;
  justify-content: center;
  margin-top: 3px;
  flex-direction: column;

  background-size: cover;
}
 
#hero3 h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  /* identical to box height, or 109% */
  letter-spacing: -0.022em;
  margin-top: 3px;
  color: #fff;
 

}

 

.card-body{
  color: white;
   font-family: roboto;
   font-weight: 500;
}

.contact .contact-address, .contact .contact-phone, .contact .contact-email {
  margin-bottom: 20px;
}


.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #FFCA29;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: 00px 1px 0 1px rgba(0, 0, 0, 0.1);
  border:0;
  font-size: 14px;
  height: auto;
  padding: 10px 15px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #FFCA29;
}
.contact .php-email-form button[type=submit] {
  background: var(--yellow-color);
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #FFCA29;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .contact .contact-address, .contact .contact-phone, .contact .contact-email {
    padding: 20px 0;
  }
}

.contact{
  margin-top: 60px;
}
.section-title h2 {
  padding:10px;
  margin-bottom: 10px;
  color: B51F32;
  position: relative;
  color:#343A40;
}
.section-title h2::before {
  content: "";
  position: absolute;
 margin-bottom: -20px;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: -20px;
  background: #FFC107;
  bottom: 0;
  left: calc(50% - 20px);
}


.offer img {
  width: 100%;
  height: 100%;
}

.offer .right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.offer .content h4 {
  font-size: 20px;
  color: #627795;
  font-family: serif;
}

.offer .rate i {
  font-size: 13px;
  color: #CC8C18;
  margin: 10px 10px 20px 0;
}

.offer .content h5 {
  color: #627795;
  margin-bottom: 10px;
}

.offer .box {
  transition: 0.5s;
}

.offer .box:hover {
  transform: translateY(-10px);
}

/*------------offer------------*/
/*------------area------------*/
.area img {
  margin: 0px 0 20px 80px;
}

.area ul li {
  display: inline-block;
  font-weight: 500;
  color: #5c646e;
  margin-right: 20px;
  margin-bottom: 20px;
}

.area .left {
  position: relative;
}

.area .left::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 85%;
  height: 92%;
  margin: 30px;
  background: #CC8C18;
  z-index: -1;
}

 
.offer2 .heading {
  padding-top: 10%;
  text-align: center;
}

.offer2 .heading h3 {
  color: white;
}

.offer2.wrapper {
  background-image: url("../image/w3.jpg");
  height: 90vh;
  background-attachment: scroll;
}

.offer2.timer {
  padding-top: 0%;
}

.offer2.wrapper .container {
  max-width: 85%;
  margin: auto;
}

.offer2 .box {
  background: white;
  padding: 30px;
  text-align: left;
  transition: 0.5s;
}

.offer2 .box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.offer2 .box h5 {
  color: #CC8C18;
  text-align: left;
  font-weight: 400;
  list-style: 5px;
  word-spacing: 10px;
}

.offer2 .box h3 {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.offer2 label {
  color: #CC8C18;
}

.offer2 .grid {
  grid-template-columns: repeat(3, 1fr);
}

.offer2 .flex i {
  margin: 0 20px 20px 0;
  font-weight: 400;
  color: #5c646e;
}

/*------------offer2------------*/
/*------------customer------------*/
.customer .mtop {
  padding: 30px;
  max-width: 60%;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.customer i {
  color: #CC8C18;
  font-size: 13px;
}

.customer .item h3 {
  font-size: 20px;
}

.customer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.customer .admin {
  justify-content: center;
}

.customer .admin h3 {
  margin: 0;
}

.customer .text {
  margin: 10px;
}

.customer span {
  opacity: 0.7;
}


 
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #FFC107;
	font-size: 12px;
letter-spacing: .5px;
	font-weight: bold;
	background: none;
  font-family: roboto;
	border: 1px solid #FFC107;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 3px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #FFC107;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #6B60E6;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: FFC107;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;

  
  
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
 