:root{
  --blue-color:  #6B60E6; 
  --yellow-color: hsl(45, 100%, 51%);
  --gray-color:#EFEEEF;
}
body{
  font-family: "roboto" sans-serif;
  
}
.main-btn1 {
  background-color: white;
  color: #D9368B;
  font-size: small;
  width: 80px;
  height: 35px;
  padding-top: -50px;
  
}
.main-btn1:hover{
    background-color:#e47db2;
    color: #EFEEEF;
  }
  
.navbar{
  background-color:  #6B60E6;;
}

.navbar .navbar-nav .nav-link{
  color:white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
  color: var(--yellow-color);
}


.navbar .navbar-toggler{
  color:white;
  font-size: 25px;
  border-color: white;

}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}

  /*search box*/
  #hero {
    width: 100%;
  height: 90vh;
   
 
    background-size: cover;
    position: relative;
    padding: 0;
  
  }
  
  #hero1 .centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'roboto';
    color: hsl(0, 0%, 100%);
    font-size: 36px;
    font-weight: 800;
    line-height: 56px;
    color: #fff;
    letter-spacing: 0em;
  }
  

  #hero  .hero1-img{
   
    padding-top: 20px;
    
}

 
  #nav1 {
 margin-top: 480px;
  width:100%;
font-size: 16px;
margin-right: 10px;
background: #fff;
border-radius: 10px;
height: 80px;
box-shadow:0.625erm .937erm rgba(105, 105, 105, 0.001); ;
position: relative;
}

#nav1  .navbar-nav .nav-link{
  color:#717171;
}

#nav1 .navbar-nav  .nav-link.active,
#nav1 .navbar-nav .nav-link:focus,
#nav1 .navbar-nav .nav-link:hover{
  color: var(--yellow-color);
}


#nav1 .navbar-toggler{
  color:white;
  font-size: 25px;
  border-color: white;

}
#nav1 .navbar-toggler:focus{
  box-shadow: none;
}


.pic .rimg{
  width:  410px;;
  height:480px ;
 margin-left:150px ;
 margin-top: 80px;
  
}
.pic .vimg{
  width: 430px;
  height:240px;
   margin-top: 80px;
 
  
}
.pic .aimg{
  width:  430px;;
  height:228px;
 
 margin-top: 12px;
  
}


.content{
  width: 300px;
  margin-top: 100px;
 
  
}

.ratings{

  background-color:#fff;
  border-radius: 6px;
      border: solid rgba(0, 0, 0, 0.01);
box-shadow: 0px 10px 10px #E0E0E0;
}

.ratings1{

  background-color:#fff;
  border-radius: 6px;
     
 
}

.product-rating{

  font-size: 50px;
}

.stars i{

  font-size: 18px;
  color:  var(--yellow-color);
}

.rating-text{
  margin-top: 10px;
}


.star .h6h{
  font-size: 10px;
}

.main-btn2  {
  font-size: 14px;
  font-family: roboto;
  font-weight:100px ;
  text-align: center;
  color: #ffffff;
  background-color:#6B60E6 ;
   border-radius:5px;
   margin-top: 10px;
   padding: 5px 20px;
  
  }


.main-btn2:hover{
      background-color: #8077e0;
      color: #EFEEEF;
      
    }
    



    .product-grid{
      font-family: 'Oswald', sans-serif;
      text-align: center;
      background-color: #fff;
      box-shadow:0.625erm .937erm rgba(105, 105, 105, 0.001);  
      border-radius: 10px;
    height: 350px;

      
  }
  .product-grid .product-image{ position: relative; }
  .product-grid .product-image a.image{ display: block; }
  .product-grid .product-image img{
      width: 100%;
      height: auto;
  }
 

 .main-btn6 {
   
    color: #6B60E6;
  
    border-color: #6B60E6;
    font-size: small;
  
   margin-top: 13px;
    padding: 6px 30px;
    
  }
  .main-btn6:hover{
      background-color:#6B60E6;
      color: #EFEEEF;
    }


    .main-btn5 {
      background-color: white;
         box-shadow:0.625erm .937erm rgba(105, 105, 105, 0.001);  
      color: #6B60E6;
      font-size: 16px;
      
      padding: 6px 50px;
      
    }
    .main-btn5:hover{
        border-color:  #6B60E6;;
        color: #6B60E6;
      }


      .main-btn7 {
        background-color: #6B60E6;
           box-shadow:0.625erm .937erm rgba(105, 105, 105, 0.001);  
        color: #fff;
        font-size: 16px;
        
        padding: 4px 10px;
        
      }
      .main-btn7:hover{
          background-color:  #8178e2;;
          border-radius: 20px;
          color: #ffff;
        }
  
        .main-btn9 {
   
          background-color: #fff;
        border-color:#6B60E6 ;
          color: #6B60E6;
          font-size:16px;
       margin-left:120px;
       font-weight: 600 !important;
         margin-top: 13px;
          padding: 6px 40px;
          
        }
        .main-btn9:hover{
            background-color:#8f86e9;
            color: #d2cff1;
          }



      .content  .table{
  background-color: #e6e4fa;
    
      }
      h2 {
        font-size: 20px; }
      
        .custom-table  {
          margin-top: -50px;
          text-align: center;
         font-family: roboto;
       }
      
      .custom-table {   
        min-width: 690px; }
        .custom-table thead tr, .custom-table thead th {
         color: var(--blue-color);
          border-top: none;
          border-bottom: none !important;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: .1rem; }
        .custom-table tbody th, .custom-table tbody td {
       border: #8178e2;  
          font-weight: 400;
          padding-bottom: 20px;
          padding-top: 20px;
          font-weight: 300; }



.card {
  
  background-color: #fff;
  border:none;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px
}

.rating-box {
  width: 130px;
  height: 130px;
 
  background-color: #FBC02D;
  color: #fff
}

.rating-label {
  font-weight: bold
}

.rating-bar {
  width: 300px;
  padding: 8px;
  border-radius: 5px
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px
}

.bar-5 {
  width: 70%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-4 {
  width: 30%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-3 {
  width: 20%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-2 {
  width: 10%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-1 {
  width: 0%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}
       
        
         
         
      