<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspacepage</title>

    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/workspace.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<!--start hero-->
<!-- navbar -->

<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#main"
                        aria-controls="main"
                        aria-expanded="false"
                        aria-label="Toggle navigation"

                    >
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <img src="img/logo2.png" alt=""/>
                </a>
                <div class="collapse navbar-collapse" id="main">
                    <ul class="navbar-nav  align-items-center" style="margin-left: 200px;">
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3  " aria-current="page" href="Home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3 active " href="workspace.html">Workspace</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3  " href="contact us.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3" href="aboutUs.html">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3" href="login.html" style="margin-left: 200px;">Login</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary1 main-btn1 " id="R" href="#">Sign up</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div id="hero1" class="d-flex align-items-center row">
            <div class="  col-lg-6  d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1">
                <h1>best<img src="img/bom.png" style="width:60px ; height:60px; margin-left: 10px;"><br>collection of
                </h1>
                <h1 id="h1h" style=" color: #D9368B; "><strike>workspaces</strike>
                </h1>
                <h2 class="font-weight-bold">Viewing 18 Coworking Spaces In Gaza</h2>
                <form style="

            margin-top: 5px;
            background: #fff;
            padding:5px  10px;
            position: relative;
            border-radius: 50px;
            text-align: left;
            border:0;

            " method="post" role="form" class="php-email-form col-4">
                    <div class="search"><input id="search" style="border:0" type="search" name="search" required="">
                        <input type="button " class=" btn main-btn3" value="Search"></div>
                </form>
                <div id="box" class=" box row">
                    <div class="col-xl-3 d-flex mt-5 align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-check2" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                            <h5>Annually</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 d-flex mt-5  align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-check2" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                            <h5>Monthly</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 mt-5 d-flex align-items-stretch">
                        <div class="icon-box mt-4 mt-xl-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-check2" viewBox="0 0 16 16">
                                <path
                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                            <h5>Daily</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6  order-1 order-lg-2  " data-aos="zoom-in" data-aos-delay="150">
            <img src="img/work.png" style=" margin-left:780px; width: 450px; height:450px; margin-top:-450px ;"
                 class="img-fluid animated" alt="">
        </div>
    </div>
    <div class="input-field third-wrap">
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <div id="hero2" class="d-flex align-items-center ">
                <div class="  col-md-4 pt-6 pt-lg-0 order-2 order-lg-1 d-flex  justify-content-center">
                    <h2>Viewing 18 <br>Coworking Spaces In GAZA
                    </h2>
                </div>
                <br>
            </div>
            <div class="cheak1  d-flex align-items-center "
                 style="   background-color: #6B60E6; width:1180px; height: 50px; padding-bottom: 10px; ">
                <h6>Looking For ?</h6>
                <div class="checkbox  checkbox-success">
                    <input id="checkbox1" class="styled" type="checkbox">
                    <label for="checkbox1">
                        Desk
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="checkbox2" class="styled" type="checkbox" checked>
                    <label for="checkbox2">
                        Private room
                    </label>
                </div>
                <div class="checkbox checkbox-success">
                    <input id="checkbox3" class="styled" type="checkbox">
                    <label for="checkbox3">
                        Meeting room
                    </label>
                </div>
                <div class="checkbox checkbox-success">
                    <input id="checkbox4" class="styled" type="checkbox">
                    <label for="checkbox4">
                        Skype room
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="star" class="star">
    <div class="container " data-aos="fade-up">
        <div class="row">
            <div class="  sh shadow   d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="img/space1.png" class="  col-lg-6  rimg img-fluid" alt="">
                <div class="col-lg-3 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Lego</h3>
                    <p class="t">
                        Gaza, Universities, Lego Building
                    </p>
                    <div class="ratings">
                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars" style="color:#FFC107 ;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-text">
                            <span style="color:#BBBBBB; font-size:12px">46 ratings & 15 reviews</span>
                        </div>
                    </div>
                    <a class="btn main-btn2" id="D">ENQUIRE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="star" class="star">
    <div class="container " data-aos="fade-up">
        <div class="row">
            <div class="  sh shadow   d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="img/Tools.png" class="  col-lg-6  rimg img-fluid" alt="">
                <div class="col-lg-3 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Tools</h3>
                    <p class="t">
                        Gaza, Universities, Lego Building
                    </p>
                    <div class="ratings">
                        <span class="product-rating">3.9</span><span>/5</span>
                        <div class="stars" style="color:#FFC107 ;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-text">
                            <span style="color:#BBBBBB; font-size:12px">46 ratings & 15 reviews</span>
                        </div>
                    </div>
                    <a class="btn  main-btn2" id="D">ENQUIRE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="star" class="star">
    <div class="container " data-aos="fade-up">
        <div class="row">
            <div class="  sh shadow   d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="img/space3.png" class="  col-lg-6  rimg img-fluid" alt="">
                <div class="col-lg-3 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Lego</h3>
                    <p class="t">
                        Gaza, Universities, Lego Building
                    </p>
                    <div class="ratings">
                        <span class="product-rating">3.6</span><span>/5</span>
                        <div class="stars" style="color:#FFC107 ;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-text">
                            <span style="color:#BBBBBB; font-size:12px">46 ratings & 15 reviews</span>
                        </div>
                    </div>
                    <a class="btn  main-btn2" id="D">ENQUIRE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="text-center text-white  " style="background-color: #6B60E6">
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 class="text-uppercase">
                        <a href="#!" class="text-white">Home</a>
                    </h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase">
                        <a href="#!" class="text-white">Workspace</a>
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6 class="text-uppercase ">
                        <a href="#!" class="text-white">Contact Us</a>
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6 class="text-uppercase ">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->
        <hr class="my-5"/>
        <!-- Section: Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        we help you to find the best coworking space, with Best service and best price for available
                        workspaces near
                        we are here to help you!
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2022 Catch space All Rights Reserved

    </div>
    <!-- Copyright -->
</footer>

<!-- End Team section-->
<!-- Footer -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/all.min.js"></script>
</body>
</html>
<!--end hero-->

<!--star review-->
